<header class="header">
    <div class="logo"></div>
  
    <div class="search-section">
      <input type="text" placeholder="Search" />
      <span class="search-icon"></span>
    </div>
  
    <select class="language-selector">
      <option>English (United States)</option>
      <option>Português (Brasil)</option>
      <option>Español</option>
    </select>
  
    <div class="buttons">
      <button  class="login" (click)="navigateToLogin()" >Log in</button>
      <button class="signup">Sign up</button>
    </div>
  </header>
  